<h1 class="mt-5">selectores anidados - reactivos</h1>
<hr>

<form (submit)="guardar()" [formGroup]="miFormulario">
    <!-- Continentes -->
    <div class="row">
        <div class="col">
            <label class="form-label">Continente:</label>
            <select  id="regiones" title="Regiones" class="form-control" formControlName="regiones">
                <option value="">|-- Seleccione continente --|</option>
                <option *ngFor="let region of regiones" [value]="region | lowercase">{{region | uppercase }}</option>
            </select>
        </div>
    </div>

    <!-- Paises -->
    <div class="row mb-3" *ngIf="paises.length > 0">
        <div class="col">
            <label class="form-label">País:</label>
            <select id="paises" title="Países" class="form-control" formControlName="paises">
                <option value="">|-- Seleccione País --|</option>
                <option *ngFor="let pais of paises" [value]="pais.cca2">{{ pais.name.common }}</option>
            </select>
        </div>
    </div>

    <!-- Fronteras -->
    <div class="row mb-3" *ngIf="fronteras.length > 0">
        <div class="col">
            <label class="form-label">Fronteras:</label>
            <select id="fronteras" title="Fronteras" class="form-control" formControlName="fronteras">
                <option value="">|-- Seleccione el país fronterizo --|</option>
                <option *ngFor="let frontera of fronteras" [value]="frontera.cca3">{{ frontera.name.common }}</option>
            </select>
        </div>
    </div>

    <div class="row" *ngIf="cargando">
        <div class="col">
            <div class="alert alert-primary">
                Cargando...
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end" type="submit">Seleccionar</button>
        </div>
    </div>
</form>

<h3>Formulario</h3>
<pre>Valid: {{miFormulario.valid}}</pre>
<pre>{{miFormulario.value | json}}</pre>