<h2>Template: switches</h2>
<hr>

<form #miFormulario="ngForm" autocomplete="off">
    <!-- Radio -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Género</label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" 
                type="radio" 
                value="M"
                [(ngModel)]="persona.genero"
                name="radioGenero"                 
                id="radioMasculino" />
                <label class="form-check-label" for="radioMasculino">Masculino</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" 
                type="radio"
                value="F"
                [(ngModel)]="persona.genero"
                checked 
                name="radioGenero"
                id="radioFemenino" />
                <label class="form-check-label" for="radioFemenino">Femenino</label>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3">Notificaciones</label>
        <div class="col-sm-9">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="myFlexbox" 
                [(ngModel)]="persona.notificaciones" name="notificaciones"
                />
                <label class="form-check-label" for="myFlexbox">Quiero recibir notificaciones</label>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input"                 
                type="checkbox"
                name="terminosCheckBox"
                [(ngModel)]="terminosYCondiciones"
                id="terminosCheckBox" 
                required />
                <label class="form-check-label" for="terminosCheckBox">Términos y condiciones de uso</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button" [disabled]="miFormulario.invalid" class="btn btn-primary float-end"
                (click)="guardar()">Guardar
            </button>
        </div>
    </div>
</form>

<h5>Valor del formulario</h5>
<pre>{{ miFormulario.value | json }}</pre>
<br>
<h5>Persona</h5>
<pre>{{ persona | json }}</pre>
<br>
<h5>Valid</h5>
<pre>{{ miFormulario.valid }}</pre>
<br>
<h5>Términos</h5>
<pre>{{ (miFormulario.controls['terminosCheckBox'] || {} ).errors | json }}</pre>
<br>
<pre>Condiciones:</pre>