<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Buscar por Region <small>{{regionActiva|titlecase}}</small></h2>
    <hr>

    <h5>Seleccione la región</h5>
    <div class="row">
        <div class="col">
            <button *ngFor="let region of regiones" [class]="getClaseCSS(region)" (click)="activarRegion(region)">
                {{region}}
            </button>
            <!-- [class.abc]="region === regionActiva" -->
        </div>
    </div>

    <div *ngIf="paises.length > 0" class="row">
        <div class="col">
            <app-pais-tabla [paises]="paises"></app-pais-tabla>
        </div>
    </div>
</div>