<h2>Template: <small>Dinámicos</small></h2>
<hr>

<form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()" >
    <div class="mb-3 row">
        <!-- Nombre -->
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control" ngModel formControlName="nombre" placeholder="Nombre de la persona" required />
            <span class="form-text text-danger" *ngIf="campoEsValido('nombre')"
               >Este campo es obligatorio</span>
        </div>
    </div>

    <div class="mb-3 row">
        <!-- Agregar favorito -->
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9" >
            <div class="input-group mb-1" >
                <input class="form-control" [formControl]="nuevofavorito"            
                placeholder="Agregar favorito"
                required />

                <button class="btn btn-outline-primary" type="button" (click)="agregarFavorito()" >Agregar</button>
            </div>
        </div>
    </div>

    <div class="mb-3 row">
        <!-- Lista de juegos favoritos -->
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos">
            <div class="input-group  mb-1"  *ngFor="let favorito of favoritosArr.controls; let i=index ">
                <input 
                    [formControlName]="i"
                    class="form-control" 
                    readonly
                    required   />
                <button class="btn btn-outline-danger" type="button" (click)="eliminar(i)" >Eliminar</button>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <button type="submit" [disabled]="miFormulario.invalid" class="btn btn-primary float-end" (click)="guardar()"
               >Guardar
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <span>Valid</span>
            <pre>{{miFormulario.valid}}</pre>
            <span>Pristine</span>
            <pre>{{miFormulario.pristine }}</pre>
            <span>Touched</span>
            <pre>{{miFormulario.touched }}</pre>
            <span>Value</span>
            <pre>{{miFormulario.value | json }}</pre>            
        </div>
    </div>
</form>

